body{
	font-family: sans-serif;
	background-color: #F0F8FF;
    font-size:small;
}

h3{
	font-size: 16px;
	background-color: #5F9EA0;
	color: white;
    text-align: center;
}

b{
    font-weight:bold;
    font-size: inherit;
}

table{
    border: 1px;
    border-style:solid;
    
    border-top-color: #1a6146;
    border-bottom-color: #1a6146;
    border-left-color: #1a6146;
    border-right-color: #1a6146;
}

loggato-come{
    font-weight: bold;
    text-align: center;
}

welcome-message{
    font-weight: bolder;
}

menu-top{
    text-align: left;
}

errore{
	color: red;
	background-color: yellow;
	font-size: 10px;
}

form{
	padding: 2px;
}

div.main-frame{

    display:table;
    
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-left-style: dashed;
    border-right-style: dashed;
    
    width: 950px;
    height: 600px;

    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-right-width: 2px;
    border-top-color: #6a8c4a;
    border-bottom-color: #6a8c4a;
    border-left-color: #6a8c4a;
    border-right-color: #6a8c4a;
    
    margin: 0 auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* CreaOrdine */

tabella{

    display:table;
    border: 1px;
    border-style:solid;
    width:800px;
    
    border-top-color: #1a6146;
    border-bottom-color: #1a6146;
    border-left-color: #1a6146;
    border-right-color: #1a6146;
    
}

intestazione-tabella{

    display:table-row;
    width:auto;
    background-color: #5F9EA0;
    font-weight: bolder;
    color: white;
}

cella-intestazione-tabella{
    display:table-cell;
    width:auto;
    padding:3px;
    font-size:small;
}

corpo-tabella{

    display:table-row;

        
}

cella-corpo-tabella{

    display:table-cell;
    font-size:small;
    padding:3px;
    
}

cella-corpo-tabella.ordine{

    width:120px;

}


