<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>action</servlet-name>
        <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/struts-config.xml</param-value>
        </init-param>
        <init-param>
            <param-name>debug</param-name>
            <param-value>2</param-value>
        </init-param>
        <init-param>
            <param-name>detail</param-name>
            <param-value>2</param-value>
        </init-param>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>action</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <!--Imposta la pagina di partenza dell'applicazione-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>


   <!-- <error-page><error-code>400</error-code><location>/error.jsp</location></error-page>
    <error-page><error-code>401</error-code><location>/error.jsp</location></error-page>
    <error-page><error-code>403</error-code><location>/error.jsp</location></error-page>
    <error-page><error-code>404</error-code><location>/error.jsp</location></error-page>
    <error-page><error-code>405</error-code><location>/error.jsp</location></error-page>
    <error-page><error-code>500</error-code><location>/error.jsp</location></error-page>
    <error-page><error-code>503</error-code><location>/error.jsp</location></error-page> -->
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>user</role-name>
    </security-role>

    </web-app>
